<div class="Inventary">
  <div class="card mt-3">
    <div class="card-header">
      <div class="w-100">
        <div class="row align-items-center">
          <div class="col">
            <div class="me-auto d-flex">
              <app-icon
                name="Boxes"
                [size]="32"
                class="d-flex align-items-center me-2 text-primary"
              />
              <div class="text-black">
                <Text tag="smallBody" tagClass="page-pretitle"> Administracion </Text>
                <Text tag="h5" bold="bold" tagClass="d-block"> Inventario </Text>
              </div>
            </div>
          </div>
          <div class="col-auto ms-auto">
            <div class="btn-list">
              <button type="button" class="btn btn-sm btn-primary" (click)="redirectToCreate()">
                <app-icon name="plus" class="me-1" />
                <Text> Crear Producto </Text>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <Text bold="bold"
            >Productos
            @if (loading()) {
              <div class="spinner-border spinner-border-sm ms-2" role="status"></div>
            }
          </Text>
          <div class="btn-list justify-content-end">
            <button class="btn btn-sm btn-square" type="button" (click)="refreshProducts()">
              <app-icon name="RefreshCcw" [size]="18" />
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <inventary-table [items]="filteredInventary()">
            <div class="d-block w-100 d-md-flex gap-2">
              <app-categories-selector
                [data]="categories()"
                [canUnselect]="true"
                icon="filter"
                title="Categorias"
                mode="select"
                class="d-block mb-2"
                style="min-width: 9rem;"
                (onSelect)="setFilter('category',$event)"
              />
              <app-subcategory-selector
                [data]="subcategories()"
                [hearingCategory]="false"
                [canUnselect]="true"
                icon="filter"
                title="Sub-categorias"
                mode="select"
                class="d-block"
                style="min-width: 9rem;"
                (onSelect)="setFilter('subcategory',$event)"
              />
            </div>
          </inventary-table>
        </div>
        <div class="card-footer">
          <app-pagination />
        </div>
      </div>
    </div>
  </div>
</div>
