<div class="Categories d-flex flex-column">  
  <div class="row mt-3">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        
        <!-- Header de la card Principal -->
        <div class="card-header">
          <div class="w-100">
            <div class="row align-items-center">
              <div class="col">
                <div class="d-flex align-items-center gap-2">
                  <span class="text-blue">
                    <app-icon [name]="'FolderOpen'" [size]="34"></app-icon>
                  </span>
                  
                  <div>
                    <h2 class="page-title mb-0">Gestión de Categorías</h2>
                    <div class="page-pretitle">
                      Administra la estructura de tus catálogos
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-auto ms-auto">
                <div class="btn-list">
                  <a class="btn btn-primary d-none d-sm-inline-flex gap-1" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <app-icon [name]="'Plus'" [size]="17"></app-icon>
                    Nueva Categoría
                  </a>

                  <a class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <app-icon [name]="'Plus'" [size]="17"></app-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Body del card principal -->
       <div class="card-body">
          <div class="container-xl">

            <!-- Cards -->
            <div class="row row-cards">

              <!-- Apartado de categorias y subcategorias -->
              <div class="col-sm-12 col-lg-9">
                <div class="row row-cards">

                  <!-- Panel de categorias -->
                  <div class="col-sm-12 col-lg-5">
                    <div class="card">

                      <!-- Header del Panel de categorias -->
                      <div class="card-header py-1 px-3">
                        <div class="w-100">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="d-flex align-items-center gap-2">
                                <div>
                                  <h2 class="page-title mb-0">Categorias</h2>
                                </div>
                              </div>
                            </div>

                            <div class="col-auto ms-auto">
                              <a class="btn btn-icon btn-sm p-2">
                                <app-icon [name]="'RefreshCcw'" [size]="15"></app-icon>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Input de busqueda -->
                      <div class="card-body border-bottom p-1">
                        <div class="row g-1">
                          <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="Buscar categoría..." />
                          </div>
                          <div class="col-auto d-flex align-items-center">
                            <a class="btn btn-icon btn-sm p-2" aria-label="Button">
                              <app-icon [name]="'Search'" [size]="14"></app-icon>
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- Cards para el panel de categorias -->
                      <div  class="card-body py-2 px-1" 
                            style="height: clamp(10rem,57vh,33rem);overflow-y: auto;overflow-x: hidden;"
                            [ngClass]="{'d-flex': loadingCat(), 'justify-content-center': loadingCat(), 'align-items-center': loadingCat()}">
                        
                        @if (loadingCat()) {
                          <div class="spinner-border spinner-border-sm ms-2" role="status"></div>
                        } @else {
                          <div class="row flex-fill">
                            <div class="col">
                              <div class="list-group list-group-flush">

                                @for (cat of paginationCat().categories; track cat.id) {
                                  <div id="cat-{{cat.id}}" class="list-group-item cursor-default"
                                       [ngClass]="{'bg-azure-lt': (cat.id == catSelected().id)}" (click)="selectCat(cat)">

                                    <div class="d-flex align-items-center">

                                      <span class="me-3" 
                                            [ngClass]="{'text-blue': (cat.id == catSelected().id), 'text-muted': (cat.id != catSelected().id)}">
                                        <app-icon [name]="'Folder'" [size]="20"></app-icon>
                                      </span>

                                      <div class="flex-fill">
                                        <div class="fw-semibold">{{cat.name}}</div>
                                        <div class="text-secondary small">
                                          {{cat.sc_record}} Subs · {{cat.p_record}} productos
                                        </div>
                                      </div>

                                      <div class="small me-3 d-flex align-items-center" [ngClass]="{'text-success': cat.active, 'text-danger': !cat.active}">
                                        <span class="me-1">●</span>
                                        <span class="text-nowrap"> @if (cat.active) { Activo } @else { Inactivo } </span>
                                      </div>

                                      <div class="ms-auto d-flex align-items-center gap-3">
                                        <a class="btn btn-icon btn-sm p-0 text-muted" 
                                           style="background-color: transparent;border: none;" 
                                           (click)="editCat(cat, $event)">
                                          
                                           <app-icon [name]="'Pencil'" [size]="15"></app-icon>
                                        </a>

                                        <a class="btn btn-icon btn-sm p-0" 
                                           style="background-color: transparent;border: none;" 
                                           [ngClass]="{'text-danger': cat.active, 'text-success': !cat.active}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteModal"
                                           (click)="showDisableModal(1, cat, $event)">

                                          <app-icon [name]="'CirclePower'" [size]="15"></app-icon>
                                        </a>
                                      </div>

                                    </div>
                                  </div>
                                }
                              </div>
                            </div>
                          </div>
                        }

                        
                      </div>

                      <!-- Paginado del panel de categorias -->
                      <div class="card-footer py-2 px-2">
                        <ul class="pagination m-0">
                          <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                          </li>
                          <li class="page-item active"><a class="page-link">1</a></li>
                          <li class="page-item"><a class="page-link">2</a></li>
                          <li class="page-item"><a class="page-link">3</a></li>
                          <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Panel de Subcategorias -->
                  <div class="col-sm-12 col-lg-7">
                    <div class="card">

                      <!-- Header del panel de subcategorías -->
                      <div class="card-header py-1 px-3">
                        <div class="w-100">
                          <div class="row align-items-center">
                            <div class="col">
                              <div class="d-flex align-items-center gap-2">
                                <span class="text-blue">
                                  <app-icon [name]="'FolderOpen'" [size]="22"></app-icon>
                                </span>
                                
                                <h4 class="page-title mb-0">{{catSelected().name}}</h4>
                              </div>
                            </div>


                            <div class="col-auto ms-auto">
                              <a class="btn btn-icon btn-sm p-2">
                                <app-icon [name]="'Plus'" [size]="15"></app-icon>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Input de busqueda -->
                      <div class="card-body border-bottom p-1">
                        <div class="row g-1">
                          <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="Buscar categoría..." />
                          </div>
                          <div class="col-auto d-flex align-items-center">
                            <a class="btn btn-icon btn-sm p-2" aria-label="Button">
                              <app-icon [name]="'Search'" [size]="14"></app-icon>
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- Apartado para las cards de la Subcategoría seleccionada -->
                      <div class="card-body py-2 px-1"
                           style="height: clamp(10rem,57vh,33rem);overflow-y: auto;overflow-x: hidden;"
                           [ngClass]="{'d-flex': loadingSubcat(), 'justify-content-center': loadingSubcat(), 'align-items-center': loadingSubcat()}">
                        
                        @if (loadingSubcat()) {
                          <div class="spinner-border spinner-border-sm ms-2" role="status"></div>
                        } @else {
                          <div class="row row-cards">
                            @for (subCat of paginationSubCat().Subcategories; track subCat.id) {
                              <div class="col-sm-12 col-lg-6">
                                <div class="card shadow-sm">
                                  <div class="card-header">
                                    <div class="row align-items-center">
                                      <div class="col">
                                        <div class="d-flex align-items-center gap-2">
                                          <span class="text-blue">
                                            <app-icon [name]="'Package'" [size]="28"></app-icon>
                                          </span>
                                          
                                          <div>
                                            <div class="flex-fill">
                                              <div class="fw-semibold">{{subCat.name}}</div>
                                              <div class="text-secondary small">
                                                {{subCat.p_record}} Productos
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="card-body p-2">
                                    <div class="row">
                                      <div class="col">
                                        <button type="button" class="btn btn-secondary btn-sm gap-2">
                                          <app-icon [name]="'Pencil'" [size]="15"></app-icon>
                                          Editar
                                        </button>
                                      </div>
                                      <div class="col-auto ms-auto">
                                        <button type="button" class="btn btn-sm gap-2">
                                          <app-icon [name]="'Tag'" [size]="15"></app-icon>
                                          Atributos
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            }
                          </div>
                        }
                      </div>

                      <!-- Apartado de paginación para las Subcategorias -->
                      <div class="card-footer py-2 px-2"> 
                        <ul class="pagination m-0">
                          <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                          </li>
                          <li class="page-item active"><a class="page-link">1</a></li>
                          <li class="page-item"><a class="page-link">2</a></li>
                          <li class="page-item"><a class="page-link">3</a></li>
                          <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Apartado de Marcas y atributos -->
              <div class="col-lg-3">
                <div class=" col-sm col-lg">
                  <div class="row row-cards gap-1">

                    <!-- Panel de Marcas -->
                    <div class="col-12">
                      <div class="card">

                        <!-- Header del Panel de Marcas -->
                        <div class="card-header py-1 px-3">
                          <div class="w-100">
                            <div class="row align-items-center">
                              <div class="col">
                                <div class="d-flex align-items-center gap-2">
                                  <div>
                                    <h2 class="page-title mb-0">Marcas</h2>
                                  </div>
                                </div>
                              </div>

                              <div class="col-auto ms-auto">
                                <a class="btn btn-icon btn-sm p-2">
                                  <app-icon [name]="'Plus'" [size]="15"></app-icon>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Input de busqueda -->
                        <div class="card-body border-bottom p-1">
                          <div class="row g-1">
                            <div class="col">
                              <input type="text" class="form-control form-control-sm" placeholder="Buscar categoría..." />
                            </div>
                            <div class="col-auto d-flex align-items-center">
                              <a class="btn btn-icon btn-sm p-2" aria-label="Button">
                                <app-icon [name]="'Search'" [size]="14"></app-icon>
                              </a>
                            </div>
                          </div>
                        </div>

                        <!-- Apartado que tendra las cards de marcas -->
                        <div class="card-body px-2 py-1" 
                             style="height: clamp(10rem,20vh,12rem);overflow-y: auto;"
                             [ngClass]="{'d-flex': loadingBrand(), 'justify-content-center': loadingBrand(), 'align-items-center': loadingBrand()}">
                          
                          @if (loadingBrand()) {
                            <div class="spinner-border spinner-border-sm ms-2" role="status"></div>
                          } @else {
                            <div class="row flex-fill">
                              <div class="col">
                                <div class="list-group list-group-flush">

                                  @for (brand of paginationBrand().brands; track brand.id) {
                                    <div class="list-group-item cursor-default">
                                      <div class="d-flex align-items-center">

                                        <span class="text-blue me-2">
                                          <app-icon [name]="'Star'" [size]="20"></app-icon>
                                        </span>

                                        <div class="flex-fill">
                                          <div class="fw-semibold">{{brand.name}}</div>
                                          <div class="text-secondary small">
                                            {{brand.p_records}} Productos
                                          </div>
                                        </div>

                                        <div class="small me-3 d-flex align-items-center" 
                                            [ngClass]="{'text-success': brand.active, 'text-danger': !brand.active}">
                                          <span class="me-1">●</span>
                                          <span class="text-nowrap"> @if (brand.active) { Activo } @else { Inactivo } </span>
                                        </div>

                                        <div class="ms-auto d-flex align-items-center gap-3">
                                          <a class="btn btn-icon btn-sm p-0 text-muted" style="background-color: transparent;border: none;">
                                            <app-icon [name]="'Pencil'" [size]="15"></app-icon>
                                          </a>

                                          <a class="btn btn-icon btn-sm p-0" 
                                            style="background-color: transparent;border: none;"
                                            [ngClass]="{'text-danger': brand.active, 'text-success': !brand.active}"
                                            (click)="showDisableModal(2, brand, $event)">
                                            <app-icon [name]="'CirclePower'" [size]="15"></app-icon>
                                          </a>
                                        </div>

                                      </div>
                                    </div>
                                  }
                                </div>
                              </div>
                            </div>
                          }
                        </div>

                        <!-- Apartado de paginacion para el panel de marcas -->
                        <div class="card-footer py-2 px-2">
                          <div class="d-flex align-items-center justify-content">
                            <ul class="pagination m-0">
                              <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                              </li>
                              <li class="page-item active"><a class="page-link">1</a></li>
                              <li class="page-item"><a class="page-link">2</a></li>
                              <li class="page-item"><a class="page-link">3</a></li>
                              <li class="page-item"><a class="page-link">Next</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Apartado del panel de atributos -->
                    <div class="col-12">
                      <div class="card">

                        <!-- Header del panel de atributos -->
                        <div class="card-header py-1 px-3">
                          <div class="w-100">
                            <div class="row align-items-center">
                              <div class="col">
                                <div class="d-flex align-items-center gap-2">
                                  <div>
                                    <h2 class="page-title mb-0">Atributos</h2>
                                  </div>
                                </div>
                              </div>

                              <div class="col-auto ms-auto">
                                <a class="btn btn-icon btn-sm p-2">
                                  <app-icon [name]="'Plus'" [size]="15"></app-icon>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Input de busqueda -->
                        <div class="card-body border-bottom p-1">
                          <div class="row g-1">
                            <div class="col">
                              <input type="text" class="form-control form-control-sm" placeholder="Buscar categoría..." />
                            </div>
                            <div class="col-auto d-flex align-items-center">
                              <a class="btn btn-icon btn-sm p-2" aria-label="Button">
                                <app-icon [name]="'Search'" [size]="14"></app-icon>
                              </a>
                            </div>
                          </div>
                        </div>

                        <!-- Apartado de cards de atributos -->
                        <div class="card-body px-2 py-1" 
                             style="height: clamp(10rem,20vh,12rem);overflow-y: auto;"
                             [ngClass]="{'d-flex': loadingattr(), 'justify-content-center': loadingattr(), 'align-items-center': loadingattr()}">

                          @if (loadingattr()) {
                            <div class="spinner-border spinner-border-sm ms-2" role="status"></div>
                          } @else {
                            <div class="row flex-fill">
                              <div class="col">

                                <div class="list-group list-group-flush">

                                  @for (attr of paginationAttr().attributes; track attr.id) {
                                      <div class="list-group-item cursor-default">
                                        <div class="d-flex align-items-center">

                                          <span class="text-blue me-2">
                                            <app-icon [name]="'Tag'" [size]="20"></app-icon>
                                          </span>

                                          <div class="flex-fill">
                                            <div class="fw-semibold">{{attr.attribute}}: {{attr.value}}</div>
                                            <div class="text-secondary small">
                                              {{attr.p_record}} productos
                                            </div>
                                          </div>

                                          <div class="text-success small me-3 d-flex align-items-center">
                                            <span class="me-1">●</span>
                                            <span class="text-nowrap">@if (attr.active) { Activo } @else { Inactivo }</span>
                                          </div>

                                          <div class="ms-auto d-flex align-items-center gap-3">
                                            <a class="btn btn-icon btn-sm p-0 text-muted" style="background-color: transparent;border: none;">
                                              <app-icon [name]="'Pencil'" [size]="15"></app-icon>
                                            </a>

                                            <a class="btn btn-icon btn-sm p-0" 
                                              style="background-color: transparent;border: none;"
                                              [ngClass]="{'text-danger': attr.active, 'text-success': !attr.active}"
                                              (click)="showDisableModal(3, attr, $event, attr.attribute)">
                                              <app-icon [name]="'CirclePower'" [size]="15"></app-icon>
                                            </a>
                                          </div>

                                        </div>
                                      </div>
                                  }
                                </div>

                              </div>
                            </div>
                          }
                        </div>

                        <!-- Apartado de paginación para atributos -->
                        <div class="card-footer py-2 px-2">
                          <div class="d-flex align-items-center">
                            <ul class="pagination m-0">
                              <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                              </li>
                              <li class="page-item active"><a class="page-link">1</a></li>
                              <li class="page-item"><a class="page-link">2</a></li>
                              <li class="page-item"><a class="page-link">3</a></li>
                              <li class="page-item"><a class="page-link">Next</a></li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-disableModal [modal]="modal()" (onConfirm)="disable()"></app-disableModal>